*.suo 
*.user 
*.resharper 
_ReSharper* 
_ReSharper.*
bin*
obj*
*.svn
.svn
*.suo
*.user
*.cache
build
output
*.vs10x
*.docstates
.idea*
packages/*
Sample/*/packages/*
*.LDF
.vs/NCommon Everything/v15/Server/sqlite3/storage.ide-wal
.vs/NCommon Everything/v15/Server/sqlite3/storage.ide-shm
.vs/NCommon Everything/v15/Server/sqlite3/storage.ide
.vs/NCommon Everything/v15/Server/sqlite3/db.lock
